{% extends 'base.html.twig' %}

{% block title %}تعديل مادة{% endblock %}

{% block body %}
<<<<<<< HEAD
=======
{% include "layout/header.html.twig" %}
>>>>>>> d6476d60ab6c137fd57e0e94d3b5e16948081daa
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>✏️ تعديل مادة</h2>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
<<<<<<< HEAD
                        {{ form_row(form.libelleMateriel, {'label': 'اسم المادة'}) }}
                        {{ form_row(form.serie, {'label': 'الرقم التسلسلي'}) }}
=======
                        {{ form_row(form.nom, {'label': 'اسم المادة'}) }}
                        {{ form_row(form.reference, {'label': 'المرجع'}) }}
>>>>>>> d6476d60ab6c137fd57e0e94d3b5e16948081daa
                        {{ form_row(form.emplacement, {'label': 'الموقع'}) }}
                        {{ form_row(form.description, {'label': 'الوصف'}) }}
                        {{ form_row(form.nbr, {'label': 'الكمية', 'attr': {'class': 'form-control', 'type': 'number'}}) }}
                        {{ form_row(form.dateAcquisition, {'label': 'تاريخ الاقتناء'}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.etat, {'label': 'الحالة'}) }}
                        {{ form_row(form.etablissement, {'label': 'المؤسسة'}) }}

                    </div>
                </div>
                <button class="btn btn-success mt-3">
                    <i class="bi bi-save"></i> تحديث المادة
                </button>
                <a href="{{ path('materiel_index') }}" class="btn btn-secondary mt-3">
                    <i class="bi bi-arrow-return-left"></i> عودة
                </a>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
